[Unit]
Description=Lance crypto-signals.service toutes les heures

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
